

    <div class="container">
        <div class="row">
            <input type="text" id="search" placeholder="search" class="form-control">
        </div>
        <div class="container" id="boxSearch">
        {%for item in postsTemplate%}
        <div class="row" class="boxSearch">
            <h2>{{item.title}}</h2>
        </div>
        {%endfor%}
    </div>
    </div>



    <div class="container">
        <div class="row">
            <input type="text" id="search2" placeholder="search" class="form-control">
        </div>
        <div class="container" id="boxSearch2">
            <div id="spinner" class="text-center mt-5" style="display: block;">
                <div  class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        {%for item in postsTemplate%}
        <div class="row" class="boxSearch">
            <h2>{{item.title}}</h2>
        </div>
        {%endfor%}
    </div>
    </div>
